<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S3PR_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <S3PR_GUI.Properties.Settings>
            <setting name="textBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBox1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBox2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBox3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBox4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="compressWarningShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox5" serializeAs="String">
                <value>True</value>
            </setting>
        </S3PR_GUI.Properties.Settings>
    </userSettings>
</configuration>